*.pyc
__pycache__
*.egg-info/
collections/
node_modules/
crawls/
test-crawls/
.DS_Store
cypress/cypress/reports/mocha
cypress/cypress/screenshots
cypress/cypress/fixtures/splitEndpoints
cypress/cypress/e2e/splitTests
cypress/cypress.env.json
cypress/mochawesome-report